@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary:#3c1247;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Source Serif 4', sans-serif    
}

.brand img{   
    width: 75px;
    padding: 0px 3px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 3rem;
}
.header{
    color: white;
    height: max-content;
    padding: 0.6rem  0;
    background-color: var(--primary);
    font-weight: bolder;    
}
.header ul {
    display: flex;
    justify-content: space-between;
    font-family: 'Source Serif 4', sans-serif;
    display: flex; 
    list-style-type: none;
    align-items: center;
}

.header ul li a{
     padding: 1rem;
     margin: 1rem;
     color: inherit;
     text-decoration: none;
}

.music-player-container{
    background: linear-gradient(180deg,var(--primary),white);
    flex-grow: 1;
    /* padding: 2rem 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: scroll; */
}

.container{
    
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    margin: 1.5rem auto;
    padding:  20px;
    width: 60%;
    border-radius: 13px;
    background: url('images/bg-image.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    box-shadow: 0px 3px 50px 0px white;
}



.cover{
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}

.container .cover #gif{
    /* opacity: 0.7; */
    transition: opacity 0.7s cubic-bezier(0.42, 0, 0.7, 0.99);
    height: 30vh;
    width: 20vw;
    border-radius: 10px;
}
.banner{
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.songbannerlist{
    margin: 1rem 1rem ;
    width: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
   
}
.songbannerlist::-webkit-scrollbar{
    width:0px;
    height: 0px;
}
.songlist{
    position: relative;
    display: flex;
    /* height: 45px; */
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(252, 252, 252);
    color: black;
    border-radius: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

.songname{
    display: flex;
    align-items: center;
    margin: 0px 5px;
    max-width: 40vw;
    height: 100%;
    font-weight: bolder;
    white-space: nowrap;
    overflow:auto; 
    overflow: hidden;
}


.songname::-webkit-scrollbar{
    width:0px;
    height: 0px;
}
.songlist .timestamp {
    position: absolute;
    right: 1rem;
    width: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    
}

.aboutme p{
    font-size: larger;
    padding: 20px;
}

.media-player{
    color: black;
    display: flex;
    justify-content:center;
    flex-direction:  column;
    align-items: center;
    padding: 1vw 0%;
    margin-bottom: 0% ;
}
marquee{
    width: 90vw;
    font-weight:bold;
}
#seekbar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    color: var(--primary);
    display: flex; 
    cursor: pointer;
}
.icons i{
    margin: 0.6rem;
    background: pink;
	background: -webkit-radial-gradient(33% 100% circle, #515ECF 4%, #9B36B7 30%, #D92E7F 62%, #F15245 85%, #FED373);
	background: radial-gradient(circle at 33% 100%, #ff3be7 4%, #ff3be7 28%, #03ffe8 62%, #F15245 85%, #FED373);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
svg{
    margin-top: 6px;
    height: 20px;
    width:20px;
    align-items: center;
}

.About{
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 0 ;    
}

.about-icons svg{
    margin: 0.6rem 1rem;
   fill: white;
}
.About a{
    color: white;
    text-decoration: none;
}
@media (max-width: 992px) {
    /* Styles for small devices */
    .container{
        width: 75%;
    }
    .cover{
        display:none;
    }
}
  

@media (max-width:768px){
    .container{
        width: 80%;
    }
}
